@font-face {
  font-family: 'BebasNeueRegular';
  src: url("fonts/BebasNeue-webfont.eot");
  src: url("fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/BebasNeue-webfont.woff") format("woff"), url("fonts/BebasNeue-webfont.ttf") format("truetype"), url("fonts/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

#mn-content,
.mn-reset {
  font-family: Cabin;
  font-size: 12px;
  color: #666666; }

#mn-content #mn-footer-navigation,
#mn-content #mn-footer {
  display: none; }

#mn-content a,
.mn-reset a {
  color: #ef7f2c; }

#mn-content #mn-pagetitle h1 {
  font-family: Coustard, serif;
  font-size: 22px; }

#mn-content #mn-directory-category #mn-footer-navigation,
#mn-content #mn-directory-category .mn-footer-pblogo,
#mn-content #mn-directory-category .mn-dealsbuttons,
#mn-content #mn-directory-category .mn-banner,
#mn-content #mn-directory-category .mn-results-links,
#mn-content #mn-directory-category .mn-results-sort-section,
#mn-content #mn-directory-category .mn-banner,
#mn-content #mn-events #mn-footer-navigation,
#mn-content #mn-events .mn-footer-pblogo,
#mn-content #mn-events .mn-dealsbuttons,
#mn-content #mn-events .mn-banner,
#mn-content #mn-events .mn-results-links,
#mn-content #mn-events .mn-results-sort-section,
#mn-content #mn-events .mn-banner,
#mn-content #mn-directory-quicklink #mn-footer-navigation,
#mn-content #mn-directory-quicklink .mn-footer-pblogo,
#mn-content #mn-directory-quicklink .mn-dealsbuttons,
#mn-content #mn-directory-quicklink .mn-banner,
#mn-content #mn-directory-quicklink .mn-results-links,
#mn-content #mn-directory-quicklink .mn-results-sort-section,
#mn-content #mn-directory-quicklink .mn-banner,
#mn-content #mn-directory-list #mn-footer-navigation,
#mn-content #mn-directory-list .mn-footer-pblogo,
#mn-content #mn-directory-list .mn-dealsbuttons,
#mn-content #mn-directory-list .mn-banner,
#mn-content #mn-directory-list .mn-results-links,
#mn-content #mn-directory-list .mn-results-sort-section,
#mn-content #mn-directory-list .mn-banner,
#wp-search-results #mn-footer-navigation,
#wp-search-results .mn-footer-pblogo,
#wp-search-results .mn-dealsbuttons,
#wp-search-results .mn-banner,
#wp-search-results .mn-results-links,
#wp-search-results .mn-results-sort-section,
#wp-search-results .mn-banner {
  display: none; }
#mn-content #mn-directory-category .mn-listing,
#mn-content #mn-events .mn-listing,
#mn-content #mn-directory-quicklink .mn-listing,
#mn-content #mn-directory-list .mn-listing,
#wp-search-results .mn-listing {
  *zoom: 1;
  border-bottom: 1px solid #ececec;
  padding: 22px 0; }
  #mn-content #mn-directory-category .mn-listing:before, #mn-content #mn-directory-category .mn-listing:after,
  #mn-content #mn-events .mn-listing:before,
  #mn-content #mn-events .mn-listing:after,
  #mn-content #mn-directory-quicklink .mn-listing:before,
  #mn-content #mn-directory-quicklink .mn-listing:after,
  #mn-content #mn-directory-list .mn-listing:before,
  #mn-content #mn-directory-list .mn-listing:after,
  #wp-search-results .mn-listing:before,
  #wp-search-results .mn-listing:after {
    content: " ";
    display: table; }
  #mn-content #mn-directory-category .mn-listing:after,
  #mn-content #mn-events .mn-listing:after,
  #mn-content #mn-directory-quicklink .mn-listing:after,
  #mn-content #mn-directory-list .mn-listing:after,
  #wp-search-results .mn-listing:after {
    clear: both; }
  #mn-content #mn-directory-category .mn-listing ul,
  #mn-content #mn-events .mn-listing ul,
  #mn-content #mn-directory-quicklink .mn-listing ul,
  #mn-content #mn-directory-list .mn-listing ul,
  #wp-search-results .mn-listing ul {
    margin: 0;
    padding: 0;
    list-style: none; }
#mn-content #mn-directory-category .mn-title,
#mn-content #mn-events .mn-title,
#mn-content #mn-directory-quicklink .mn-title,
#mn-content #mn-directory-list .mn-title,
#wp-search-results .mn-title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #494949 !important;
  font-family: coustard;
  font-weight: normal; }
  #mn-content #mn-directory-category .mn-title a,
  #mn-content #mn-events .mn-title a,
  #mn-content #mn-directory-quicklink .mn-title a,
  #mn-content #mn-directory-list .mn-title a,
  #wp-search-results .mn-title a {
    color: inherit; }
  @media screen and (max-width: 767px) {
    #mn-content #mn-directory-category .mn-title,
    #mn-content #mn-events .mn-title,
    #mn-content #mn-directory-quicklink .mn-title,
    #mn-content #mn-directory-list .mn-title,
    #wp-search-results .mn-title {
      font-size: 16px; } }
#mn-content #mn-directory-category .mn-image,
#mn-content #mn-directory-category .mn-image-empty,
#mn-content #mn-directory-category .dateContainer,
#mn-content #mn-events .mn-image,
#mn-content #mn-events .mn-image-empty,
#mn-content #mn-events .dateContainer,
#mn-content #mn-directory-quicklink .mn-image,
#mn-content #mn-directory-quicklink .mn-image-empty,
#mn-content #mn-directory-quicklink .dateContainer,
#mn-content #mn-directory-list .mn-image,
#mn-content #mn-directory-list .mn-image-empty,
#mn-content #mn-directory-list .dateContainer,
#wp-search-results .mn-image,
#wp-search-results .mn-image-empty,
#wp-search-results .dateContainer {
  display: block;
  float: left;
  width: 210px;
  height: auto;
  margin: 0;
  padding: 4px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-shadow: 0px 0px 4px 1px #ececec;
  border: 1px solid #ffffff !important; }
  @media screen and (max-width: 767px) {
    #mn-content #mn-directory-category .mn-image,
    #mn-content #mn-directory-category .mn-image-empty,
    #mn-content #mn-directory-category .dateContainer,
    #mn-content #mn-events .mn-image,
    #mn-content #mn-events .mn-image-empty,
    #mn-content #mn-events .dateContainer,
    #mn-content #mn-directory-quicklink .mn-image,
    #mn-content #mn-directory-quicklink .mn-image-empty,
    #mn-content #mn-directory-quicklink .dateContainer,
    #mn-content #mn-directory-list .mn-image,
    #mn-content #mn-directory-list .mn-image-empty,
    #mn-content #mn-directory-list .dateContainer,
    #wp-search-results .mn-image,
    #wp-search-results .mn-image-empty,
    #wp-search-results .dateContainer {
      width: 130px;
      height: 84.19048px; } }
  @media screen and (max-width: 479px) {
    #mn-content #mn-directory-category .mn-image,
    #mn-content #mn-directory-category .mn-image-empty,
    #mn-content #mn-directory-category .dateContainer,
    #mn-content #mn-events .mn-image,
    #mn-content #mn-events .mn-image-empty,
    #mn-content #mn-events .dateContainer,
    #mn-content #mn-directory-quicklink .mn-image,
    #mn-content #mn-directory-quicklink .mn-image-empty,
    #mn-content #mn-directory-quicklink .dateContainer,
    #mn-content #mn-directory-list .mn-image,
    #mn-content #mn-directory-list .mn-image-empty,
    #mn-content #mn-directory-list .dateContainer,
    #wp-search-results .mn-image,
    #wp-search-results .mn-image-empty,
    #wp-search-results .dateContainer {
      width: 72px;
      height: 46.62857px; } }
  #mn-content #mn-directory-category .mn-image a,
  #mn-content #mn-directory-category .mn-image-empty a,
  #mn-content #mn-directory-category .dateContainer a,
  #mn-content #mn-events .mn-image a,
  #mn-content #mn-events .mn-image-empty a,
  #mn-content #mn-events .dateContainer a,
  #mn-content #mn-directory-quicklink .mn-image a,
  #mn-content #mn-directory-quicklink .mn-image-empty a,
  #mn-content #mn-directory-quicklink .dateContainer a,
  #mn-content #mn-directory-list .mn-image a,
  #mn-content #mn-directory-list .mn-image-empty a,
  #mn-content #mn-directory-list .dateContainer a,
  #wp-search-results .mn-image a,
  #wp-search-results .mn-image-empty a,
  #wp-search-results .dateContainer a {
    line-height: 0;
    display: block;
    overflow: hidden;
    text-align: center; }
  #mn-content #mn-directory-category .mn-image img,
  #mn-content #mn-directory-category .mn-image-empty img,
  #mn-content #mn-directory-category .dateContainer img,
  #mn-content #mn-events .mn-image img,
  #mn-content #mn-events .mn-image-empty img,
  #mn-content #mn-events .dateContainer img,
  #mn-content #mn-directory-quicklink .mn-image img,
  #mn-content #mn-directory-quicklink .mn-image-empty img,
  #mn-content #mn-directory-quicklink .dateContainer img,
  #mn-content #mn-directory-list .mn-image img,
  #mn-content #mn-directory-list .mn-image-empty img,
  #mn-content #mn-directory-list .dateContainer img,
  #wp-search-results .mn-image img,
  #wp-search-results .mn-image-empty img,
  #wp-search-results .dateContainer img {
    max-width: none;
    width: auto;
    height: auto; }
#mn-content #mn-directory-category .dateContainer,
#mn-content #mn-events .dateContainer,
#mn-content #mn-directory-quicklink .dateContainer,
#mn-content #mn-directory-list .dateContainer,
#wp-search-results .dateContainer {
  height: 136px; }
#mn-content #mn-directory-category .mn-image-empty,
#mn-content #mn-directory-category .dateContainer,
#mn-content #mn-events .mn-image-empty,
#mn-content #mn-events .dateContainer,
#mn-content #mn-directory-quicklink .mn-image-empty,
#mn-content #mn-directory-quicklink .dateContainer,
#mn-content #mn-directory-list .mn-image-empty,
#mn-content #mn-directory-list .dateContainer,
#wp-search-results .mn-image-empty,
#wp-search-results .dateContainer {
  height: 136px;
  background: #f0f0f0 url(http://dev.manhattanbeachchamber.com/manhattan-beach-cc/wp-content/themes/manhattan-beach-cc/images/placeholder-member-thumb.png) no-repeat center center !important; }
#mn-content #mn-directory-category .dateContainer,
#mn-content #mn-events .dateContainer,
#mn-content #mn-directory-quicklink .dateContainer,
#mn-content #mn-directory-list .dateContainer,
#wp-search-results .dateContainer {
  width: 140px;
  height: 140px;
  font-family: coustard;
  color: #5f5f5f;
  background-image: none !important; }
  #mn-content #mn-directory-category .dateContainer span,
  #mn-content #mn-events .dateContainer span,
  #mn-content #mn-directory-quicklink .dateContainer span,
  #mn-content #mn-directory-list .dateContainer span,
  #wp-search-results .dateContainer span {
    display: block;
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 16.8px; }
    #mn-content #mn-directory-category .dateContainer span.eventDay,
    #mn-content #mn-events .dateContainer span.eventDay,
    #mn-content #mn-directory-quicklink .dateContainer span.eventDay,
    #mn-content #mn-directory-list .dateContainer span.eventDay,
    #wp-search-results .dateContainer span.eventDay {
      height: 70px;
      line-height: 70px;
      color: #f09960;
      font-size: 70px; }
    #mn-content #mn-directory-category .dateContainer span.eventMonth:before, #mn-content #mn-directory-category .dateContainer span.eventMonth:after,
    #mn-content #mn-events .dateContainer span.eventMonth:before,
    #mn-content #mn-events .dateContainer span.eventMonth:after,
    #mn-content #mn-directory-quicklink .dateContainer span.eventMonth:before,
    #mn-content #mn-directory-quicklink .dateContainer span.eventMonth:after,
    #mn-content #mn-directory-list .dateContainer span.eventMonth:before,
    #mn-content #mn-directory-list .dateContainer span.eventMonth:after,
    #wp-search-results .dateContainer span.eventMonth:before,
    #wp-search-results .dateContainer span.eventMonth:after {
      content: '-';
      padding: 0 3px 0 0; }
    #mn-content #mn-directory-category .dateContainer span.eventMonth:after,
    #mn-content #mn-events .dateContainer span.eventMonth:after,
    #mn-content #mn-directory-quicklink .dateContainer span.eventMonth:after,
    #mn-content #mn-directory-list .dateContainer span.eventMonth:after,
    #wp-search-results .dateContainer span.eventMonth:after {
      padding: 0 0 0 3px; }
#mn-content #mn-directory-category .mn-listingcontent,
#mn-content #mn-events .mn-listingcontent,
#mn-content #mn-directory-quicklink .mn-listingcontent,
#mn-content #mn-directory-list .mn-listingcontent,
#wp-search-results .mn-listingcontent {
  margin-left: 250px;
  margin-right: 10px;
  padding: 0; }
  @media screen and (max-width: 767px) {
    #mn-content #mn-directory-category .mn-listingcontent,
    #mn-content #mn-events .mn-listingcontent,
    #mn-content #mn-directory-quicklink .mn-listingcontent,
    #mn-content #mn-directory-list .mn-listingcontent,
    #wp-search-results .mn-listingcontent {
      margin-left: 160px; } }
  @media screen and (max-width: 479px) {
    #mn-content #mn-directory-category .mn-listingcontent,
    #mn-content #mn-events .mn-listingcontent,
    #mn-content #mn-directory-quicklink .mn-listingcontent,
    #mn-content #mn-directory-list .mn-listingcontent,
    #wp-search-results .mn-listingcontent {
      margin-left: 102px; } }
#mn-content #mn-directory-category #mn-events-listings .mn-listingcontent,
#mn-content #mn-events #mn-events-listings .mn-listingcontent,
#mn-content #mn-directory-quicklink #mn-events-listings .mn-listingcontent,
#mn-content #mn-directory-list #mn-events-listings .mn-listingcontent,
#wp-search-results #mn-events-listings .mn-listingcontent {
  margin-left: 180px; }
  #mn-content #mn-directory-category #mn-events-listings .mn-listingcontent .mn-image,
  #mn-content #mn-events #mn-events-listings .mn-listingcontent .mn-image,
  #mn-content #mn-directory-quicklink #mn-events-listings .mn-listingcontent .mn-image,
  #mn-content #mn-directory-list #mn-events-listings .mn-listingcontent .mn-image,
  #wp-search-results #mn-events-listings .mn-listingcontent .mn-image {
    display: none; }
#mn-content #mn-directory-category #mn-events-listings .mn-date,
#mn-content #mn-events #mn-events-listings .mn-date,
#mn-content #mn-directory-quicklink #mn-events-listings .mn-date,
#mn-content #mn-directory-list #mn-events-listings .mn-date,
#wp-search-results #mn-events-listings .mn-date {
  display: none; }
#mn-content #mn-directory-category #mn-events-listings .mn-read-more,
#mn-content #mn-events #mn-events-listings .mn-read-more,
#mn-content #mn-directory-quicklink #mn-events-listings .mn-read-more,
#mn-content #mn-directory-list #mn-events-listings .mn-read-more,
#wp-search-results #mn-events-listings .mn-read-more {
  display: none; }
#mn-content #mn-directory-category #mn-events-listings .mn-eventactions,
#mn-content #mn-events #mn-events-listings .mn-eventactions,
#mn-content #mn-directory-quicklink #mn-events-listings .mn-eventactions,
#mn-content #mn-directory-list #mn-events-listings .mn-eventactions,
#wp-search-results #mn-events-listings .mn-eventactions {
  float: left; }
#mn-content #mn-directory-category .mn-list-item-odd,
#mn-content #mn-directory-category .mn-members1col .mn-list-item-odd .mn-listing .mn-listingcontent,
#mn-content #mn-events .mn-list-item-odd,
#mn-content #mn-events .mn-members1col .mn-list-item-odd .mn-listing .mn-listingcontent,
#mn-content #mn-directory-quicklink .mn-list-item-odd,
#mn-content #mn-directory-quicklink .mn-members1col .mn-list-item-odd .mn-listing .mn-listingcontent,
#mn-content #mn-directory-list .mn-list-item-odd,
#mn-content #mn-directory-list .mn-members1col .mn-list-item-odd .mn-listing .mn-listingcontent,
#wp-search-results .mn-list-item-odd,
#wp-search-results .mn-members1col .mn-list-item-odd .mn-listing .mn-listingcontent {
  background: none; }
#mn-content #mn-directory-category .mn-eventactions,
#mn-content #mn-events .mn-eventactions,
#mn-content #mn-directory-quicklink .mn-eventactions,
#mn-content #mn-directory-list .mn-eventactions,
#wp-search-results .mn-eventactions {
  clear: both; }
#mn-content #mn-directory-category .mn-address,
#mn-content #mn-directory-category .mn-category,
#mn-content #mn-events .mn-address,
#mn-content #mn-events .mn-category,
#mn-content #mn-directory-quicklink .mn-address,
#mn-content #mn-directory-quicklink .mn-category,
#mn-content #mn-directory-list .mn-address,
#mn-content #mn-directory-list .mn-category,
#wp-search-results .mn-address,
#wp-search-results .mn-category {
  background: url("http://dev.manhattanbeachchamber.com/manhattan-beach-cc/wp-content/themes/modernize/images/icon/dark/tag.png") no-repeat;
  color: #ef7f2c;
  font-style: italic;
  padding-left: 20px;
  margin-bottom: 10px;
  float: left;
  *zoom: 1; }
  #mn-content #mn-directory-category .mn-address:before, #mn-content #mn-directory-category .mn-address:after,
  #mn-content #mn-directory-category .mn-category:before,
  #mn-content #mn-directory-category .mn-category:after,
  #mn-content #mn-events .mn-address:before,
  #mn-content #mn-events .mn-address:after,
  #mn-content #mn-events .mn-category:before,
  #mn-content #mn-events .mn-category:after,
  #mn-content #mn-directory-quicklink .mn-address:before,
  #mn-content #mn-directory-quicklink .mn-address:after,
  #mn-content #mn-directory-quicklink .mn-category:before,
  #mn-content #mn-directory-quicklink .mn-category:after,
  #mn-content #mn-directory-list .mn-address:before,
  #mn-content #mn-directory-list .mn-address:after,
  #mn-content #mn-directory-list .mn-category:before,
  #mn-content #mn-directory-list .mn-category:after,
  #wp-search-results .mn-address:before,
  #wp-search-results .mn-address:after,
  #wp-search-results .mn-category:before,
  #wp-search-results .mn-category:after {
    content: " ";
    display: table; }
  #mn-content #mn-directory-category .mn-address:after,
  #mn-content #mn-directory-category .mn-category:after,
  #mn-content #mn-events .mn-address:after,
  #mn-content #mn-events .mn-category:after,
  #mn-content #mn-directory-quicklink .mn-address:after,
  #mn-content #mn-directory-quicklink .mn-category:after,
  #mn-content #mn-directory-list .mn-address:after,
  #mn-content #mn-directory-list .mn-category:after,
  #wp-search-results .mn-address:after,
  #wp-search-results .mn-category:after {
    clear: both; }
  #mn-content #mn-directory-category .mn-address .streetAddress,
  #mn-content #mn-directory-category .mn-category .streetAddress,
  #mn-content #mn-events .mn-address .streetAddress,
  #mn-content #mn-events .mn-category .streetAddress,
  #mn-content #mn-directory-quicklink .mn-address .streetAddress,
  #mn-content #mn-directory-quicklink .mn-category .streetAddress,
  #mn-content #mn-directory-list .mn-address .streetAddress,
  #mn-content #mn-directory-list .mn-category .streetAddress,
  #wp-search-results .mn-address .streetAddress,
  #wp-search-results .mn-category .streetAddress {
    float: left; }

.dine #mn-content #mn-directory-quicklink .mn-image-empty {
  background: #f0f0f0 url(http://dev.manhattanbeachchamber.com//manhattan-beach-cc/wp-content/themes/manhattan-beach-cc/images/placeholder-dine.jpg) no-repeat center center !important; }

.stay #mn-content #mn-directory-quicklink .mn-image-empty {
  background: #f0f0f0 url(http://dev.manhattanbeachchamber.com//manhattan-beach-cc/wp-content/themes/manhattan-beach-cc/images/placeholder-stay.jpg) no-repeat center center !important; }

.shop #mn-content #mn-directory-quicklink .mn-image-empty {
  background: #f0f0f0 url(http://dev.manhattanbeachchamber.com//manhattan-beach-cc/wp-content/themes/manhattan-beach-cc/images/placeholder-shop.jpg) no-repeat center center !important; }

.play #mn-content #mn-directory-quicklink .mn-image-empty {
  background: #f0f0f0 url(http://dev.manhattanbeachchamber.com//manhattan-beach-cc/wp-content/themes/manhattan-beach-cc/images/placeholder-play.jpg) no-repeat center center !important; }

#mn-content a.button,
#mn-content a.gdl-button {
  box-shadow: 1px 1px 3px #ececec;
  background-color: #f1f1f1;
  color: #7a7a7a;
  border: 1px solid #dedede;
  height: 29px;
  line-height: 26px;
  padding: 1px 12px 0px 12px;
  display: inline-block;
  background: url("http://dev.manhattanbeachchamber.com/manhattan-beach-cc/wp-content/themes/modernize/images/gradient-top4-32px.png") repeat-x;
  font-weight: bold;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.dateContainer {
  display: block;
  float: left;
  width: 210px;
  height: 136px;
  margin: 0;
  padding: 4px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: #f0f0f0;
  box-shadow: 0px 0px 4px 1px #ececec;
  border: 1px solid #ffffff !important;
  width: 140px;
  height: 140px;
  font-family: coustard;
  color: #5f5f5f;
  background-image: none !important; }
  .dateContainer a {
    line-height: 0;
    display: block;
    overflow: hidden;
    text-align: center; }
  .dateContainer img {
    max-width: none;
    width: auto;
    height: 100%; }
  .dateContainer span {
    display: block;
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 16.8px; }
    .dateContainer span.eventDay {
      height: 70px;
      line-height: 70px;
      color: #f09960;
      font-size: 70px; }
    .dateContainer span.eventMonth:before, .dateContainer span.eventMonth:after {
      content: '-';
      padding: 0 3px 0 0; }
    .dateContainer span.eventMonth:after {
      padding: 0 0 0 3px; }

.home .community-events .mn-scroll-item,
.home .chamber-events .mn-scroll-item {
  float: none;
  clear: both;
  margin: 0 0 20px 0;
  *zoom: 1; }
  .home .community-events .mn-scroll-item:before, .home .community-events .mn-scroll-item:after,
  .home .chamber-events .mn-scroll-item:before,
  .home .chamber-events .mn-scroll-item:after {
    content: " ";
    display: table; }
  .home .community-events .mn-scroll-item:after,
  .home .chamber-events .mn-scroll-item:after {
    clear: both; }
.home .community-events .dateContainer,
.home .chamber-events .dateContainer {
  float: left;
  margin: 0 30px 0 0;
  width: 72px;
  height: 72px; }
.home .community-events .mn-scroll-location,
.home .chamber-events .mn-scroll-location {
  color: #ef7f2c;
  margin: 0 0 0 112px; }
.home .community-events .eventMonth,
.home .chamber-events .eventMonth {
  font-size: 12px;
  line-height: 18px;
  height: 18px; }
  .home .community-events .eventMonth:before, .home .community-events .eventMonth:after,
  .home .chamber-events .eventMonth:before,
  .home .chamber-events .eventMonth:after {
    content: ''; }
.home .community-events .eventDay,
.home .chamber-events .eventDay {
  font-size: 48px;
  line-height: 54px;
  height: 54px; }
.home .community-events .title,
.home .chamber-events .title {
  font-family: Coustard;
  font-size: 16px;
  color: #494949;
  display: block;
  padding-top: 8px; }
@media screen and (max-width: 767px) {
  .home .community-events .dateContainer,
  .home .chamber-events .dateContainer {
    float: left;
    margin: 0 20px 0 0; }
  .home .community-events .title,
  .home .chamber-events .title {
    width: auto;
    text-align: left; } }

#mn-content #mn-directory-list .mn-subcats {
  width: 600px;
  margin: 0 auto; }
  #mn-content #mn-directory-list .mn-subcats li {
    display: inline-block;
    font-family: Coustard;
    font-size: 14px;
    line-height: 1.6em;
    margin: 1.2em 0 0 0;
    width: 48%;
    background: #e9e9e9; }
    #mn-content #mn-directory-list .mn-subcats li a {
      height: 3.16em;
      color: inherit;
      margin: 0;
      min-height: 1.893em;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      width: 99em;
      padding: .5em 2em; }
  #mn-content #mn-directory-list .mn-subcats .mn-subcats-col1 {
    float: left;
    clear: both; }
  #mn-content #mn-directory-list .mn-subcats .mn-subcats-col2 {
    float: right; }
  @media screen and (max-width: 959px) {
    #mn-content #mn-directory-list .mn-subcats {
      width: 515px; } }
  @media screen and (max-width: 767px) {
    #mn-content #mn-directory-list .mn-subcats {
      width: 100%;
      /*
      li.mn-subcats-col1,
      li.mn-subcats-col2 {
      	width: 100%;
      	float: none;
      }
      */ }
      #mn-content #mn-directory-list .mn-subcats li {
        font-size: 10px; } }
  @media screen and (max-width: 479px) {
    #mn-content #mn-directory-list .mn-subcats li {
      font-size: 8px; } }

.wpResultsHeader {
  margin: 1em 0; }

.showResults {
  color: #ef7f2c;
  font-style: italic;
  font-size: 14px; }

#wp-search-results .wp-result {
  *zoom: 1;
  margin-bottom: 20px; }
  #wp-search-results .wp-result:before, #wp-search-results .wp-result:after {
    content: " ";
    display: table; }
  #wp-search-results .wp-result:after {
    clear: both; }
  #wp-search-results .wp-result .mn-listing-main {
    display: table; }
  #wp-search-results .wp-result .mn-image a {
    height: 100%;
    width: 100%;
    overflow: hidden; }
  #wp-search-results .wp-result .mn-image img {
    width: 100%;
    height: auto; }

#mn-content #mn-member-results-member .mn-share,
#mn-content #mn-member-results-member #mn-search-submit,
#mn-content #mn-member-results-member .mn-member-url,
#mn-content #mn-member-results-member #mn-about-teasertext,
#mn-content #mn-member-results-member #mn-search-keyword,
#mn-content #mn-member-results-member #mn-search-radius,
#mn-content #mn-member-results-member #mn-member-name-nologo,
#mn-content #mn-events .mn-share,
#mn-content #mn-events #mn-search-submit,
#mn-content #mn-events .mn-member-url,
#mn-content #mn-events #mn-about-teasertext,
#mn-content #mn-events #mn-search-keyword,
#mn-content #mn-events #mn-search-radius,
#mn-content #mn-events #mn-member-name-nologo {
  display: none; }
#mn-content #mn-member-results-member #mn-resultscontainer,
#mn-content #mn-events #mn-resultscontainer {
  border-top: 1px solid #696768; }
#mn-content #mn-member-results-member h1,
#mn-content #mn-events h1 {
  font-family: Coustard;
  font-size: 28px;
  margin-top: 20px; }
#mn-content #mn-member-results-member .mn-member-cat-container,
#mn-content #mn-events .mn-member-cat-container {
  display: none; }
#mn-content #mn-member-results-member #mn-member-tabnav,
#mn-content #mn-events #mn-member-tabnav {
  text-align: center; }
#mn-content #mn-member-results-member .mn-tabs,
#mn-content #mn-events .mn-tabs {
  display: inline-block; }
#mn-content #mn-member-results-member .mn-tabs a,
#mn-content #mn-member-results-member .mn-tabs a.mn-active,
#mn-content #mn-events .mn-tabs a,
#mn-content #mn-events .mn-tabs a.mn-active {
  background: #696768;
  color: #fff;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  border: none;
  border-radius: 0;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  top: auto; }
#mn-content #mn-member-results-member .mn-tabs a.mn-active:after,
#mn-content #mn-events .mn-tabs a.mn-active:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  border-bottom-color: white;
  margin-left: -10px;
  left: 50%; }
#mn-content #mn-member-results-member .mn-member-content,
#mn-content #mn-events .mn-member-content {
  border: none;
  margin: 24px 0 0 0; }
#mn-content #mn-member-results-member .mn-section-head,
#mn-content #mn-events .mn-section-head {
  display: none; }
#mn-content #mn-member-results-member .mn-mediaslider img,
#mn-content #mn-events .mn-mediaslider img {
  border: 3px solid #696768;
  box-sizing: border-box; }
#mn-content #mn-member-results-member .mn-mediaslider-base span,
#mn-content #mn-member-results-member .mn-mediaslider-window,
#mn-content #mn-events .mn-mediaslider-base span,
#mn-content #mn-events .mn-mediaslider-window {
  height: 68px; }
#mn-content #mn-member-results-member .mn-gallery img,
#mn-content #mn-events .mn-gallery img {
  padding: 0; }
#mn-content #mn-member-results-member .mn-hours-title,
#mn-content #mn-events .mn-hours-title {
  color: #ef7f2c;
  font-weight: bold; }
#mn-content #mn-member-results-member #mn-member-tab-content-container,
#mn-content #mn-events #mn-member-tab-content-container {
  margin-top: -10px; }
#mn-content #mn-member-results-member .mn-memberinfo-block-actions,
#mn-content #mn-events .mn-memberinfo-block-actions {
  *zoom: 1; }
  #mn-content #mn-member-results-member .mn-memberinfo-block-actions:before, #mn-content #mn-member-results-member .mn-memberinfo-block-actions:after,
  #mn-content #mn-events .mn-memberinfo-block-actions:before,
  #mn-content #mn-events .mn-memberinfo-block-actions:after {
    content: " ";
    display: table; }
  #mn-content #mn-member-results-member .mn-memberinfo-block-actions:after,
  #mn-content #mn-events .mn-memberinfo-block-actions:after {
    clear: both; }
  #mn-content #mn-member-results-member .mn-memberinfo-block-actions li,
  #mn-content #mn-events .mn-memberinfo-block-actions li {
    float: left;
    margin: 15px 15px 0 0; }
    #mn-content #mn-member-results-member .mn-memberinfo-block-actions li a,
    #mn-content #mn-events .mn-memberinfo-block-actions li a {
      background: #fff;
      color: #666;
      text-transform: none;
      font-size: 12px; }
#mn-content #mn-member-results-member #mn-memberinfo-block-socialnetworks a,
#mn-content #mn-events #mn-memberinfo-block-socialnetworks a {
  display: block;
  height: 24px;
  line-height: 24px;
  padding-left: 28px;
  color: #666;
  margin: 10px 0 0 0; }
#mn-content #mn-member-results-member #mn-memberinfo-block-socialnetworks .mn-social-linkedin a,
#mn-content #mn-events #mn-memberinfo-block-socialnetworks .mn-social-linkedin a {
  background: url(../modernize/images/icon/dark/social/linkedin.png) no-repeat; }
#mn-content #mn-member-results-member #mn-memberinfo-block-socialnetworks .mn-social-facebook a,
#mn-content #mn-events #mn-memberinfo-block-socialnetworks .mn-social-facebook a {
  background: url(../modernize/images/icon/dark/social/facebook.png) no-repeat; }
#mn-content #mn-member-results-member .mn-mediaslider-prev,
#mn-content #mn-member-results-member .mn-mediaslider-next,
#mn-content #mn-events .mn-mediaslider-prev,
#mn-content #mn-events .mn-mediaslider-next {
  background: url(images/arrow-left.gif) no-repeat;
  width: 21px;
  height: 41px;
  bottom: 15px;
  cursor: pointer; }
#mn-content #mn-member-results-member .mn-mediaslider-next,
#mn-content #mn-events .mn-mediaslider-next {
  background: url(images/arrow-right.gif) no-repeat; }
#mn-content #mn-member-results-member .mn-map-logo,
#mn-content #mn-events .mn-map-logo {
  display: none; }

@media screen and (max-width: 767px) {
  #mn-content .mn-member-sidebar {
    *zoom: 1;
    margin-bottom: 20px; }
    #mn-content .mn-member-sidebar:before, #mn-content .mn-member-sidebar:after {
      content: " ";
      display: table; }
    #mn-content .mn-member-sidebar:after {
      clear: both; }

  #mn-content .mn-member-sidebar,
  #mn-content #mn-member-tab-content-container {
    float: none;
    width: 100%; }

  #mn-content #mn-member-results-member .mn-tabs a,
  #mn-content #mn-member-results-member .mn-tabs a.mn-active {
    font-size: 10px;
    padding: 0 20px;
    height: 30px;
    line-height: 30px; } }
#mn-content #mn-events {
  font-family: Cabin, sans-serif;
  color: #666; }
  #mn-content #mn-events #mn-pagetitle {
    display: none; }
  #mn-content #mn-events .mn-event-name .mn-event-content {
    font-family: Coustard, serif;
    font-size: 24px;
    line-height: 25px;
    display: block; }
  #mn-content #mn-events .mn-event-reminder div.mn-event-head {
    background: #666; }
  @media screen and (max-width: 767px) {
    #mn-content #mn-events .mn-event-info,
    #mn-content #mn-events .mn-listing-sidebar {
      float: none;
      width: 100%; } }

#mn-content #mn-member-tab-content-container #about,
#mn-content #mn-member-tab-content-container #highlights {
  max-width: 400px;
  margin: 0 auto; }

#mn-memberapp-package .mn-form-radiocombo > label {
  display: none; }
  #mn-memberapp-package .mn-form-radiocombo > label.chosen {
    display: block; }
