<h3>ROI Calculator</h3>
See if your business, etc.

<div class="calculator">
	<div class="number-employees">
		<div class="label">
			Number of Employees
		</div>
		<div id='slider'></div>
	</div>
	<div class="annual-sales">
		<div class="label">
			Average Annual Sales
		</div>
		<div class="control">
			<span>$</span><input type="text" id="sales">
		</div>
	</div>
</div><!--.calculator-->

<div class="results">
	<div class="title">
		Your ROI
	</div>
	<div class="totalROI"></div>
	<div class="tally">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<div class="title">
				Benefits & Costs
			</div>
			<tbody>
				<tr class="investment">
					<td class="label">Your Chamber Investment</td>
					<td class="amount"></td>
				</tr>
				<tr class="benefits">
					<td class="label">Your Chamber Investment</td>
					<td class="amount"></td>
				</tr>
			</tbody>
		</table>			
	</div>
</div><!--.results-->
