@import url(../modernize/style.css);
/*
Theme Name:     Manhattan Beach Chamber of Commerce
Theme URI:      http://heilbrice.com
Description:    Child theme for the Modernize Theme
Author:         Aaron Neville
Author URI:     http://example.com/about/
Template:       modernize
Version:        0.1.0
*/
@font-face {
  font-family: 'BebasNeueRegular';
  src: url("fonts/BebasNeue-webfont.eot");
  src: url("fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/BebasNeue-webfont.woff") format("woff"), url("fonts/BebasNeue-webfont.ttf") format("truetype"), url("fonts/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */ }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0); }

.ui-front {
  z-index: 100; }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important; }

/* Icons
----------------------------------*/
/* states and images/jquery-ui */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-slider {
  position: relative;
  text-align: left; }

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0; }

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit; }

.ui-slider-horizontal {
  height: .8em; }

.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

.ui-slider-vertical {
  width: .8em;
  height: 100px; }

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em; }

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%; }

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0; }

.ui-slider-vertical .ui-slider-range-max {
  top: 0; }

/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size: 1.1em; }

.ui-widget .ui-widget {
  font-size: 1em; }

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size: 1em; }

.ui-widget-content {
  border: 1px solid #dddddd;
  background: #eeeeee url(images/jquery-ui/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
  color: #333333; }

.ui-widget-content a {
  color: #333333; }

.ui-widget-header {
  border: 1px solid #e78f08;
  background: #f6a828 url(images/jquery-ui/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
  color: #ffffff;
  font-weight: bold; }

.ui-widget-header a {
  color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #cccccc;
  background: #f6f6f6 url(images/jquery-ui/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #1c94c4; }

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #1c94c4;
  text-decoration: none; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #fbcb09;
  background: #fdf5ce url(images/jquery-ui/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #c77405; }

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
  color: #c77405;
  text-decoration: none; }

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #fbd850;
  background: white url(images/jquery-ui/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #eb8f00; }

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #eb8f00;
  text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #fed22f;
  background: #ffe45c url(images/jquery-ui/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;
  color: #363636; }

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636; }

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #b81900 url(images/jquery-ui/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;
  color: #ffffff; }

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #ffffff; }

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #ffffff; }

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal; }

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none; }

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
  /* For IE8 - See #6059 */ }

/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 4px; }

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 4px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 4px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 4px; }

.error {
  border: 2px solid red !important; }

.error-message {
  position: absolute;
  border: 2px solid red;
  background: #ffe9e9; }

.calculator,
.results {
  border: 1px solid #dfdfdf;
  background: #F5F5F5;
  padding: 15px 20px;
  border-radius: 3px;
  position: relative; }

.results .title {
  font-family: Coustard, georgia, times, serif;
  font-weight: normal;
  font-size: 18px; }
.results .totalROI {
  font-family: Coustard, georgia, times, serif;
  font-weight: normal;
  font-size: 50px;
  color: #ef7f2c;
  letter-spacing: 3px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 10px; }
.results .tally table {
  border-collapse: collapse; }
.results .tally table,
.results .tally td,
.results .tally tr {
  border: none;
  padding: 0;
  vertical-align: bottom; }
.results .tally td {
  padding: 2px 0; }
.results .tally tr td:last-child {
  text-align: right; }
.results .tally .costs {
  opacity: .9; }

.calculator .label {
  font-family: Coustard, georgia, times, serif;
  font-weight: normal;
  font-size: 18px; }
.calculator .number-employees,
.calculator .number-employees .label {
  margin-bottom: 40px; }
.calculator .arrow {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 12px;
  border-left-color: #dfdfdf;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -12px;
  z-index: 1; }
  .calculator .arrow:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
    border-left-color: whitesmoke;
    position: absolute;
    left: -12px;
    top: -10px; }
.calculator .control span {
  font-size: 40px;
  padding-right: 5px; }
.calculator input#sales {
  font-size: 30px;
  display: inline;
  max-width: 150px; }

.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  padding: 5px 0;
  visibility: visible;
  bottom: 100%;
  width: 36px;
  margin-left: -18px;
  left: 50%;
  text-align: center; }

.tooltip .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top: 5px solid #d0d0d0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  width: 0;
  height: 0; }

.tooltip-inner {
  font-size: 14px;
  color: #494949;
  text-align: center;
  text-decoration: none;
  background-color: #d0d0d0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #ef7f2c;
  background-image: none;
  border-radius: 50%;
  border: none;
  width: 20px;
  height: 20px;
  top: -6px; }

#slider {
  height: 8px; }

div.all-container-wrapper {
  box-shadow: none !important; }

.flexslider {
  -webkit-font-smoothing: antialiased; }

.flex-control-nav {
  right: 20px !important;
  left: auto !important; }

.flex-caption {
  right: auto !important;
  left: 0 !important; }

.sf-sub-indicator {
  display: none; }

.summary.stunning-text-wrapper {
  background: none;
  padding-top: 0;
  margin-top: -20px; }

.logo-wrapper {
  padding: 0 !important;
  margin: 0 0 0 -20px !important; }
  .logo-wrapper a {
    float: left;
    font-size: 0; }
  @media screen and (max-width: 959px) {
    .logo-wrapper {
      margin: 0 0 0 -10px !important; } }
  @media screen and (max-width: 767px) {
    .logo-wrapper {
      margin: 0 0 0 -39px !important; } }

div#custom-full-background {
  z-index: -1; }

h1.stunning-text-title {
  font-family: "BebasRegular" !important;
  font-family: BebasNeueRegular !important;
  font-size: 26px;
  font-size: 36px;
  -webkit-font-smoothing: antialiased; }

.sidebar-map h3 {
  font-size: 14px;
  margin: 0; }
.sidebar-map p {
  margin: 0 0 10px 0; }

#results {
  height: 300px;
  overflow: scroll; }

div.footer-widget-wrapper {
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid #555;
  padding: 30px 0;
  margin: 0; }
  div.footer-widget-wrapper input[type="text"],
  div.footer-widget-wrapper input[type="password"],
  div.footer-widget-wrapper input[type="email"],
  div.footer-widget-wrapper textarea {
    background: #292929;
    border-radius: 0;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #b1b1b1; }
  div.footer-widget-wrapper input[type="submit"],
  div.footer-widget-wrapper button {
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    box-shadow: none;
    text-transform: uppercase;
    background: #1e1e1e;
    color: #b1b1b1; }
  div.footer-widget-wrapper input[type="text"]:focus,
  div.footer-widget-wrapper input[type="password"]:focus,
  div.footer-widget-wrapper input[type="email"]:focus,
  div.footer-widget-wrapper textarea:focus {
    color: #fff; }
  div.footer-widget-wrapper form input {
    padding: 0 5px;
    height: 30px;
    line-height: 30px; }
    div.footer-widget-wrapper form input::-webkit-input-placeholder {
      color: #646464;
      font-style: italic;
      font-size: 12px; }
    div.footer-widget-wrapper form input:-moz-placeholder {
      color: #646464;
      font-style: italic;
      font-size: 12px; }
    div.footer-widget-wrapper form input:-ms-input-placeholder {
      color: #646464;
      font-style: italic;
      font-size: 12px; }
  div.footer-widget-wrapper form .email {
    margin: 0;
    width: 70%;
    float: left; }
  div.footer-widget-wrapper form .submit {
    width: 30%; }
  div.footer-widget-wrapper .custom-sidebar .rfb_posts li {
    border: none !important;
    background: none;
    padding: 0 0 0 30px;
    position: relative; }
  div.footer-widget-wrapper .custom-sidebar .rfb_posts .rfb_link {
    background: url(images/facebook-bullet.png) no-repeat;
    height: 24px;
    display: block;
    width: 24px;
    overflow: hidden;
    text-indent: 24px;
    position: absolute;
    top: 0;
    left: 0; }
  div.footer-widget-wrapper .custom-sidebar .rfb_posts .rfb_image {
    display: none; }

.footer-top .widget-container {
  *zoom: 1;
  border-bottom: 1px solid #555;
  padding-bottom: 40px; }
  .footer-top .widget-container:before, .footer-top .widget-container:after {
    content: " ";
    display: table; }
  .footer-top .widget-container:after {
    clear: both; }
.footer-top ul {
  margin: 0;
  list-style-type: none; }
.footer-top .sponsor-logo a {
  display: block; }
.footer-top .sponsor-logo img {
  display: block;
  margin: 0 auto;
  padding: 20px;
  background: #fff; }
  @media screen and (max-width: 959px) {
    .footer-top .sponsor-logo img {
      padding: 2px; } }
  @media screen and (max-width: 767px) {
    .footer-top .sponsor-logo img {
      padding: 0; } }
.footer-top .flex-direction-nav li a {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  background: url(images/slider-arrows.png) no-repeat;
  width: 14px;
  height: 13px;
  margin: 0;
  top: 105%;
  display: block;
  position: absolute; }
.footer-top .flex-direction-nav li a.flex-prev {
  background-position: 0 0;
  left: auto;
  right: 24px; }
.footer-top .flex-direction-nav li a.flex-next {
  background-position: -14px 0;
  right: 6px; }

.home .stunning-text-content-wrapper {
  margin: 40px 40px 0 40px;
  width: 880px !important; }
  @media only screen and (max-width: 959px) and (min-width: 767px) {
    .home .stunning-text-content-wrapper {
      width: 688px !important; } }
  @media only screen and (max-width: 767px) and (min-width: 480px) {
    .home .stunning-text-content-wrapper {
      width: 400px !important; } }
  @media only screen and (max-width: 479px) {
    .home .stunning-text-content-wrapper {
      width: 270px !important; } }
.home .weather-stunning-text {
  display: none;
  *zoom: 1; }
  .home .weather-stunning-text:before, .home .weather-stunning-text:after {
    content: " ";
    display: table; }
  .home .weather-stunning-text:after {
    clear: both; }
.home .stunning-text-title {
  float: left;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: normal;
  word-spacing: 3px; }
  .home .stunning-text-title strong {
    color: #ef7f2c !important;
    font-weight: normal;
    display: block;
    padding: 5px 0 0 0; }
  @media screen and (max-width: 767px) {
    .home .stunning-text-title {
      float: none;
      width: 100%;
      text-align: center;
      padding: 20px 0 0 0; } }
  @media screen and (max-width: 479px) {
    .home .stunning-text-title {
      font-size: 30px !important; } }
.home .stunning-text-caption {
  float: left;
  clear: left; }
.home .weather-container {
  width: 360px;
  float: right;
  margin: 0;
  font-size: 42px;
  line-height: 1em; }
  @media only screen and (max-width: 767px) {
    .home .weather-container {
      float: none;
      margin: 0 auto;
      *zoom: 1; }
      .home .weather-container:before, .home .weather-container:after {
        content: " ";
        display: table; }
      .home .weather-container:after {
        clear: both; } }
  .home .weather-container .column {
    margin: 0;
    padding: 0 20px 0 34px;
    background: transparent url(images/weather-divider.png) no-repeat left center; }
    .home .weather-container .column:first-child {
      background: none;
      padding-left: 0; }
    .home .weather-container .column:last-child {
      padding-right: 0; }
  .home .weather-container .top {
    position: relative;
    display: inline-block; }
  .home .weather-container .value {
    font-size: 32px;
    font-size: 1em;
    line-height: 1em;
    font-family: BebasRegular;
    font-family: BebasNeueRegular;
    -webkit-font-smoothing: antialiased; }
  .home .weather-container .degrees {
    font-size: 0.9em;
    position: absolute;
    top: 0;
    left: 100%;
    line-height: 1.1em; }
  .home .weather-container .feet {
    font-size: 0.5em;
    position: absolute;
    top: 0;
    left: 100%;
    text-transform: uppercase;
    font-family: BebasRegular;
    font-family: BebasNeueRegular;
    line-height: 1.55em; }
  .home .weather-container .label {
    display: block;
    font-family: coustard;
    font-size: 0.33em;
    text-align: center;
    margin: 10px 0 0 0; }
  @media screen and (max-width: 479px) {
    .home .weather-container {
      width: auto;
      font-size: 26px; }
      .home .weather-container .column {
        padding: 0 16px 0 34px; } }

.home .tourism-feature-links {
  display: block;
  color: inherit;
  padding: 10px 10px 10px 0;
  margin: -10px -10px 0 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  .home .tourism-feature-links:hover {
    background-image: url(../modernize/images/icon/dark/left-cross-5px.png); }
.home .blog-thumbnail-info {
  display: none; }
.home .blog-thumbnail-image {
  max-width: 240px;
  float: left;
  margin-right: 10px; }
  .home .blog-thumbnail-image a {
    display: block;
    position: relative; }
    .home .blog-thumbnail-image a .grayscale {
      position: absolute;
      top: 0;
      left: 0; }
  @media screen and (max-width: 959px) {
    .home .blog-thumbnail-image {
      max-width: 180px; } }
  @media screen and (max-width: 479px) {
    .home .blog-thumbnail-image {
      max-width: 100%; } }
.home .bottom-right-module {
  font-size: 12px !important;
  font-weight: normal; }
.home .blog-header-title {
  margin-top: 10px; }
.home .community-events,
.home .chamber-events {
  display: none; }
.home .bottom-left,
.home .bottom-right {
  width: 100% !important; }
  .home .bottom-left h2.blog-thumbnail-title.post-widget-title-color.gdl-title,
  .home .bottom-right h2.blog-thumbnail-title.post-widget-title-color.gdl-title {
    margin: 12px 0;
    font-size: 20px;
    line-height: 140%; }
    .home .bottom-left h2.blog-thumbnail-title.post-widget-title-color.gdl-title a,
    .home .bottom-right h2.blog-thumbnail-title.post-widget-title-color.gdl-title a {
      color: #494949; }
  .home .bottom-left .learn-more,
  .home .bottom-right .learn-more {
    display: block;
    font-family: coustard;
    font-size: 12px;
    margin: 12px 0; }

.footer-container-wrapper {
  -webkit-font-smoothing: antialiased; }
  .footer-container-wrapper h3 {
    font-size: 16px;
    color: #ececec;
    font-weight: normal;
    font-family: coustard; }

.footer-bottom.container {
  padding: 0 0 30px 0; }
  .footer-bottom.container ul {
    list-style: none;
    margin: 0; }
  .footer-bottom.container a {
    color: #999; }

.mn-widget-calendar .mn-widget-calendar-weekdays {
  *zoom: 1;
  text-transform: uppercase;
  font-size: 8px; }
  .mn-widget-calendar .mn-widget-calendar-weekdays:before, .mn-widget-calendar .mn-widget-calendar-weekdays:after {
    content: " ";
    display: table; }
  .mn-widget-calendar .mn-widget-calendar-weekdays:after {
    clear: both; }
.mn-widget-calendar .mn-widget-calendar-weeks {
  *zoom: 1;
  border: 1px solid #555;
  border-top: none;
  border-left: none; }
  .mn-widget-calendar .mn-widget-calendar-weeks:before, .mn-widget-calendar .mn-widget-calendar-weeks:after {
    content: " ";
    display: table; }
  .mn-widget-calendar .mn-widget-calendar-weeks:after {
    clear: both; }
.mn-widget-calendar .mn-widget-calendar-day,
.mn-widget-calendar .mn-widget-calendar-weekday {
  display: block;
  width: 14.28571%;
  float: left;
  text-align: center; }
.mn-widget-calendar .mn-widget-calendar-day {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #555;
  border-bottom: none;
  border-right: none;
  font-size: 10px;
  height: 34px;
  line-height: 34px; }
  .mn-widget-calendar .mn-widget-calendar-day a {
    background: #ef7f2c;
    display: block;
    color: inherit;
    height: 100%;
    width: 100%; }
    .mn-widget-calendar .mn-widget-calendar-day a:hover {
      color: #fff;
      background: #555; }
.mn-widget-calendar .mn-widget-calendar-week {
  clear: both; }
.mn-widget-calendar .mn-widget-calendar-prev {
  float: left;
  width: 15%; }
.mn-widget-calendar .mn-widget-calendar-next {
  float: right;
  width: 15%;
  text-align: right; }
.mn-widget-calendar .mn-widget-calendar-date {
  display: inline-block;
  width: 70%;
  text-align: center;
  color: #ef7f2c; }

.wib-menu {
  margin: -45px -21px 0px -20px; }
  .wib-menu ul {
    margin: 0;
    list-style-type: none;
    width: 100%; }
  .wib-menu li {
    width: 25%;
    display: block;
    float: left;
    text-align: center;
    padding: 10px 0;
    background: #006596; }
  .wib-menu a {
    color: #ffecb5;
    display: block;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    border-right: 1px solid #ffecb5; }
  .wib-menu li:last-child a {
    border-right: none; }
  @media screen and (max-width: 959px) {
    .wib-menu {
      margin: -45px -10px 0px -10px; } }
  @media screen and (max-width: 767px) {
    .wib-menu {
      margin: -45px -21px 0px -20px; }
      .wib-menu li {
        width: 50% !important;
        padding: 5px 0; }
      .wib-menu li:nth-child(2) a {
        border-right: 0; }
      .wib-menu li:nth-child(3),
      .wib-menu li:nth-child(4) {
        border-top: 1px solid #ffecb5; }
      .wib-menu a {
        font-size: 12px;
        height: 18px;
        line-height: 18px; } }

div.personnel-item {
  cursor: pointer;
  position: inherit;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  transition: 350ms;
  margin-bottom: 0 !important; }
  div.personnel-item:nth-child(4n+5) {
    clear: left; }
  div.personnel-item .arrow {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 15px;
    border-bottom-color: black;
    position: absolute;
    top: auto;
    opacity: 0;
    margin: -28px 0 0 10px;
    margin: 0 0 0 10px;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    transition: 350ms; }
  div.personnel-item .personnel-content {
    position: absolute;
    top: auto;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    transition: 350ms;
    left: -10px;
    right: -10px; }
    @media screen and (max-width: 959px) {
      div.personnel-item .personnel-content {
        left: 0;
        right: 0; } }
    @media screen and (max-width: 767px) {
      div.personnel-item .personnel-content {
        margin: 0 -20px 0 -21px; } }
    div.personnel-item .personnel-content .inner {
      background: #313131;
      color: #e4e4e4;
      padding: 20px;
      margin: 0;
      height: 100%;
      overflow-y: auto;
      box-shadow: 0 0 10px 2px black inset;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      div.personnel-item .personnel-content .inner p {
        max-width: 500px; }
      div.personnel-item .personnel-content .inner .personnel-thumbnail {
        height: 100px;
        border: none;
        float: left;
        box-shadow: 0 0 10px 2px black;
        margin: 0 15px 0 0; }
        div.personnel-item .personnel-content .inner .personnel-thumbnail img {
          height: 100%;
          width: auto; }
      div.personnel-item .personnel-content .inner .content {
        float: left;
        margin: 0 15px 0 0;
        max-width: 160px; }
        @media screen and (max-width: 767px) {
          div.personnel-item .personnel-content .inner .content {
            float: none;
            max-width: none;
            margin: 0 0 0 115px; } }
      div.personnel-item .personnel-content .inner .bio {
        float: left;
        max-width: 330px; }
    @media screen and (max-width: 767px) {
      div.personnel-item .personnel-content {
        position: relative; } }
  div.personnel-item.active {
    margin-bottom: 300px !important; }
    @media screen and (max-width: 767px) {
      div.personnel-item.active {
        margin-bottom: 0 !important; } }
    div.personnel-item.active .personnel-content {
      height: 300px; }
    div.personnel-item.active .arrow {
      opacity: 1;
      margin: -28px 0 0 10px; }

.patch-articles {
  margin: 0;
  padding: 0;
  list-style: none; }

div.custom-sidebar ul.patch-articles li {
  position: relative;
  list-style: none;
  background: none;
  padding-left: 0; }
