@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin specialFont {
	font-family: 'BebasNeueRegular', cabin, helvetica neue, helvetica, sans-serif;
	font-weight: normal;
}

@mixin headlineFont {
	font-family: Coustard, georgia, times, serif;
	font-weight: normal;
}

@mixin bodyFont {
	font-family: cabin, helvetica neue, helvetica, sans-serif;
	font-weight: normal;	
}