@import "bourbon";
@import "mixins";
@import "variables";
@import "fonts";



#mn-content,
.mn-reset {
	font-family: Cabin;
	font-size: 12px;
	color: #666666;
}

#mn-content {
	h1, h2, h3, h4 {
		//text-transform:capitalize;
	}
}

#mn-content #mn-footer-navigation,
#mn-content #mn-footer {
	display: none;
}

#mn-content a,
.mn-reset a {
	color: $orangeColor;
}

#mn-content #mn-pagetitle h1 {
	font-family: Coustard, serif;
	font-size: 22px;
}

#mn-content #mn-directory-category,
#mn-content #mn-events,
#mn-content #mn-directory-quicklink,
#mn-content #mn-directory-list,
#wp-search-results {

	// remove various elements from layout
	#mn-footer-navigation,
	.mn-footer-pblogo,
	.mn-dealsbuttons,
	.mn-banner,
	.mn-results-links,
	.mn-results-sort-section,
	.mn-banner {
		display: none;
	}

	.mn-listing {
		@include clearfix;
		border-bottom: 1px solid #ececec;
		padding: 22px 0;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}

	 .mn-title {
		font-size: 18px;
		margin-top: 0;
		margin-bottom: 10px;
		color: $greyColor !important;
		font-family: coustard;
		//text-transform: capitalize;
		font-weight: normal;

		a {
			color: inherit;
		}

		@media screen and (max-width: 767px) {
			font-size: 16px;
		}
	}


	$maxWidth : 210px;
	$maxHeight : 136px;
	$ratio : $maxHeight / $maxWidth;

	.mn-image,
	.mn-image-empty,
	.dateContainer {


		display: block;
		float: left;
		width: $maxWidth;
		height: auto;
		margin: 0;
		padding: 4px;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;


		@include box-shadow(0px 0px 4px 1px #ececec);
		border: 1px solid #ffffff !important;

		@media screen and (max-width: 767px) {
			width: 130px;
			height: 130px * $ratio;
		}

		@media screen and (max-width: 479px) {
			width: 72px;
			height: 72px * $ratio;
		}

		a {
			line-height: 0;
			display: block;
			overflow: hidden;
			text-align: center;
		}
		
		img {
			max-width: none;
			width: auto;
			height: auto;
		}



	}

	.dateContainer {
		height: $maxHeight;
	}

	.mn-image-empty,
	.dateContainer {
		height: $maxHeight;
		background: #f0f0f0 url(http://dev.manhattanbeachchamber.com/manhattan-beach-cc/wp-content/themes/manhattan-beach-cc/images/placeholder-member-thumb.png) no-repeat center center !important;		
	}



	
	.dateContainer {
		$containerHeight : 140px;
		width: $containerHeight;
		height: $containerHeight;
		font-family: coustard;
		color: #5f5f5f;
		background-image: none !important;

		span {
			display: block;
			text-align: center;
			height: $containerHeight * .25;
			line-height: $containerHeight * .25;
			font-size: $containerHeight * .12;

			&.eventDay {
				height: $containerHeight * .50;
				line-height: $containerHeight * .50;
				color: #f09960;

				font-size: $containerHeight * .50;
			}
			
			&.eventMonth {

				&:before,
				&:after {
					content: '-';
					padding: 0 3px 0 0;
				}

				&:after {
					padding: 0 0 0 3px;
				}
			}
			
		}
	}

	 .mn-listingcontent {
		margin-left: 250px;
		margin-right: 10px;
		padding: 0;

		@media screen and (max-width: 767px) {
			margin-left: 160px;
		}
		@media screen and (max-width: 479px) {
			margin-left: 102px;
		}
	}

	#mn-events-listings {
		.mn-listingcontent {
			margin-left: 180px;

			.mn-image {
				display: none;
			}
		}

		.mn-date {
			display: none;
		}

		.mn-read-more {
			display: none;
		}

		.mn-eventactions {
			float: left;
		}
	}


	 .mn-list-item-odd,
	 .mn-members1col .mn-list-item-odd .mn-listing .mn-listingcontent {
		background: none;
	}

	.mn-eventactions {
		clear: both;
	}

	
	.mn-address,
	.mn-category {
		background: url('http://dev.manhattanbeachchamber.com/manhattan-beach-cc/wp-content/themes/modernize/images/icon/dark/tag.png') no-repeat;
		color: #ef7f2c;
		font-style: italic;
		padding-left: 20px;
		margin-bottom: 10px;
		float: left;
		@include clearfix;

		.streetAddress {
			float: left;
		}
	}

}

.dine #mn-content #mn-directory-quicklink .mn-image-empty {
	background: #f0f0f0 url(http://dev.manhattanbeachchamber.com//manhattan-beach-cc/wp-content/themes/manhattan-beach-cc/images/placeholder-dine.jpg) no-repeat center center !important;		
}

.stay #mn-content #mn-directory-quicklink .mn-image-empty {
	background: #f0f0f0 url(http://dev.manhattanbeachchamber.com//manhattan-beach-cc/wp-content/themes/manhattan-beach-cc/images/placeholder-stay.jpg) no-repeat center center !important;		
}

.shop #mn-content #mn-directory-quicklink .mn-image-empty {
	background: #f0f0f0 url(http://dev.manhattanbeachchamber.com//manhattan-beach-cc/wp-content/themes/manhattan-beach-cc/images/placeholder-shop.jpg) no-repeat center center !important;		
}

.play #mn-content #mn-directory-quicklink .mn-image-empty {
	background: #f0f0f0 url(http://dev.manhattanbeachchamber.com//manhattan-beach-cc/wp-content/themes/manhattan-beach-cc/images/placeholder-play.jpg) no-repeat center center !important;		
}


#mn-content a.button,
#mn-content a.gdl-button
 {
	@include box-shadow(1px 1px 3px #ececec);
	background-color: #f1f1f1;
	color: #7a7a7a;
	border: 1px solid #dedede;
	height: 29px;
	line-height: 26px;
	padding: 1px 12px 0px 12px;
	display: inline-block;
	background: url('http://dev.manhattanbeachchamber.com/manhattan-beach-cc/wp-content/themes/modernize/images/gradient-top4-32px.png') repeat-x;
	font-weight: bold;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
	
.dateContainer {
	display: block;
	float: left;
	width: 210px;
	height: 136px;
	margin: 0;
	padding: 4px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: #f0f0f0;

	@include box-shadow(0px 0px 4px 1px #ececec);
	border: 1px solid #ffffff !important;

	a {
		line-height: 0;
		display: block;
		overflow: hidden;
		text-align: center;
	}
	
	img {
		max-width: none;
		width: auto;
		height: 100%;
	}

			$containerHeight : 140px;
	width: $containerHeight;
	height: $containerHeight;
	font-family: coustard;
	color: #5f5f5f;
	background-image: none !important;

	span {
		display: block;
		text-align: center;
		height: $containerHeight * .25;
		line-height: $containerHeight * .25;
		font-size: $containerHeight * .12;

		&.eventDay {
			height: $containerHeight * .50;
			line-height: $containerHeight * .50;
			color: #f09960;

			font-size: $containerHeight * .50;
		}
		
		&.eventMonth {

			&:before,
			&:after {
				content: '-';
				padding: 0 3px 0 0;
			}

			&:after {
				padding: 0 0 0 3px;
			}
		}
		
	}
}


.home .community-events,
.home .chamber-events {
	.mn-scroll-item {
		float: none;
		clear: both;
		margin: 0 0 20px 0;
		@include clearfix;
	}

	.dateContainer {
		float: left;
		margin: 0 30px 0 0;
		width: 72px;
		height: 72px;
	}
	
	.mn-scroll-location {
		color: $orangeColor;
		margin: 0 0 0 112px;
	}

	.eventMonth {
		font-size: 12px;
		line-height: 18px;
		height: 18px;

		&:before,
		&:after {
			content: '';
		}
	}

	.eventDay {
		font-size: 48px;
		line-height: 54px;
		height: 54px;
	}

	.title {
		font-family: Coustard;
		font-size: 16px;
		color: #494949;
		display: block;
		padding-top: 8px;
		//text-transform: capitalize;
	}

	@media screen and (max-width: 767px) {
		.dateContainer {
			float: left;
			margin: 0 20px 0 0;
		}

		.title {
			width: auto;
			text-align: left;
		}
	}
}


#mn-content #mn-directory-list {
	.mn-subcats {
		width: 600px;
		margin: 0 auto;

		li {
			display: inline-block;
			font-family: Coustard;
			font-size: 14px;
			line-height: 1.6em;
			margin: 1.2em 0 0 0;
			width: 48%;
			background: #e9e9e9;

			a {
				height: 3.16em;
				color: inherit;
				margin: 0;
				min-height: 1.893em;
				text-align: center;
				display: table-cell;
				vertical-align: middle;
				width: 99em;
				padding: .5em 2em;
			}
		}

		.mn-subcats-col1 {
			float: left;
			clear: both;
		}

		.mn-subcats-col2 {
			float: right;

		}

		@media screen and (max-width: 959px) {
			width: 515px;
		}

		@media screen and (max-width: 767px) {
			
			width: 100%;
			/*
			li.mn-subcats-col1,
			li.mn-subcats-col2 {
				width: 100%;
				float: none;
			}
			*/
			li {
				font-size: 10px;
			}
		}	

		@media screen and (max-width: 479px) {
			
			li {
				font-size: 8px;
			}
		}			
	}
	 
}

.wpResultsHeader {
	margin: 1em 0;
}

.showResults {
	color: $orangeColor;
	font-style: italic;
	font-size: 14px;
}

#wp-search-results {


	.wp-result {
		@include clearfix;
		margin-bottom: 20px;

		.mn-listing-main {
			display: table;
		}

		.mn-image {

			a {
				height: 100%;
				width: 100%;
				overflow: hidden;
			}

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

#mn-content #mn-member-results-member,
#mn-content #mn-events {
	$greyColor : #696768;


	.mn-share,
	#mn-search-submit,
	.mn-member-url,
	#mn-about-teasertext,
	#mn-search-keyword,
	#mn-search-radius,
	#mn-member-name-nologo {
		display: none;
	}

	#mn-resultscontainer {
		border-top: 1px solid $greyColor;
	}

	h1 {
		font-family: Coustard;
		font-size: 28px;
		margin-top: 20px;
	}

	.mn-member-cat-container {
		display: none;
	}
	
	#mn-member-tabnav {
		text-align: center;
	}

	.mn-tabs {
		display: inline-block;
	}

	.mn-tabs a,
	.mn-tabs a.mn-active {
		background: $greyColor;
		color: #fff;
		font-size: 16px;
		-webkit-font-smoothing: antialiased;
		border: none;
		border-radius: 0;
		padding: 0 20px;
		height: 40px;
		line-height: 40px;
		top: auto;
	}

	.mn-tabs a.mn-active:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		@include triangle(20px, #fff, up);
		margin-left: -10px;
		left: 50%;
	}

	.mn-member-content {
		border: none;
		margin: 24px 0 0 0 ;
	}

	.mn-section-head {
		display: none;
	}

	.mn-mediaslider img {
		border: 3px solid $greyColor;
		box-sizing: border-box;
	}

	.mn-mediaslider-base span,
	.mn-mediaslider-window {
		height: 68px;
	}

	.mn-gallery img {
		padding: 0;
	}

	.mn-hours-title {
		color: $orangeColor;
		font-weight: bold;
	}

	#mn-member-tab-content-container {
		margin-top: -10px;
	}
	
	.mn-memberinfo-block-actions {
		@include clearfix;

		li {
			float: left;
			margin: 15px 15px 0 0;

			a {
				background: #fff;
				color: #666;
				text-transform: none;
				font-size: 12px;
			}
		}
	}

	#mn-memberinfo-block-socialnetworks {
		a {
			display: block;
			height: 24px;
			line-height: 24px;
			padding-left: 28px;
			color: #666;
			margin: 10px 0 0 0;
		}

		.mn-social-linkedin a {
			background: url(../modernize/images/icon/dark/social/linkedin.png) no-repeat;
		}
		.mn-social-facebook a {
			background: url(../modernize/images/icon/dark/social/facebook.png) no-repeat;
		}
	}

	.mn-mediaslider-prev,
	.mn-mediaslider-next {
		background: url(images/arrow-left.gif) no-repeat;
		width: 21px;
		height: 41px;
		bottom: 15px;
		cursor: pointer;
	}

	.mn-mediaslider-next {
		background: url(images/arrow-right.gif) no-repeat;
	}

	.mn-map-logo {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	#mn-content .mn-member-sidebar {
		@include clearfix;
		margin-bottom: 20px;
	}



	#mn-content .mn-member-sidebar,
	#mn-content #mn-member-tab-content-container {
		float: none;
		width: 100%;
	}

	#mn-content #mn-member-results-member .mn-tabs a,
	#mn-content #mn-member-results-member .mn-tabs a.mn-active {
		font-size: 10px;
		padding: 0 20px;
		height: 30px;
		line-height: 30px;
	}
}

#mn-content #mn-events {
	font-family: Cabin, sans-serif;
	color: #666;
	
	#mn-pagetitle {
		display: none;
	}

	.mn-event-name .mn-event-content {
		font-family: Coustard, serif;
		font-size: 24px;
		line-height: 25px;
		display: block;

	}

	.mn-event-reminder div.mn-event-head {
		background: #666;
	}

	@media screen and (max-width: 767px) {
		.mn-event-info,
		.mn-listing-sidebar {
			float: none;
			width: 100%;
		}
	}
}

#mn-content #mn-member-tab-content-container {
	#about,
	#highlights {
		max-width: 400px;
		margin: 0 auto;
	}
}

#mn-memberapp-package .mn-form-radiocombo > label {
	display: none;

	&.chosen {
		display: block;
	}
}