/*
Theme Name:     Manhattan Beach Chamber of Commerce
Theme URI:      http://heilbrice.com
Description:    Child theme for the Modernize Theme
Author:         Aaron Neville
Author URI:     http://example.com/about/
Template:       modernize
Version:        0.1.0
*/


@import "bourbon";
@import "mixins";
@import "variables";
@import "fonts";
@import url(../modernize/style.css); // import parent theme stylesheet
@import "jquery.ui";

.error {
	border: 2px solid red !important;
}

.error-message {
	position: absolute;
	border: 2px solid red;
	background: #ffe9e9;

}

.calculator,
.results {
	border: 1px solid #dfdfdf;
	background: #F5F5F5;
	padding: 15px 20px;
	border-radius: 3px;
	position: relative;
}

.results {
	.title {
		@include headlineFont;
		font-size: 18px;
	}

	.totalROI {
		@include headlineFont;
		font-size: 50px;
		color: $orangeColor;
		letter-spacing: 3px;

		border-bottom: 1px solid #dfdfdf;
		margin-bottom: 10px;
	}

	.tally {
		table {
			border-collapse: collapse;
		}

		table,
		td,
		tr {
			border: none;
			padding: 0;
			vertical-align: bottom;
		}

		td {
			padding: 2px 0;
		}

		tr td:last-child {
			text-align: right;
		}

		.costs {
			opacity: .9;
		}
	}
}

.calculator {
	.label {
		@include headlineFont;
		font-size: 18px;
	}

	.number-employees {
		&, 
		.label {
			margin-bottom: 40px;
		}
	}

	.arrow {
		@include triangle(24px, #dfdfdf, right);
		position: absolute;
		left: 100%;
		top: 50%;
		margin-top: -12px;
		z-index: 1;

		&:after {
			content: '';
			display: block;
			@include triangle(20px, #F5F5F5, right);
			position: absolute;
			left: -12px;
			top: -10px;
		}
	}

	.control {
		span {
			font-size: 40px;
			padding-right: 5px;
		}
	}

	input#sales {
		font-size: 30px;
		display: inline;
		max-width: 150px;
	}
}


.tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    padding: 5px 0;
    visibility: visible;
    bottom:100%;
    width: 36px;
    margin-left: -18px;
    left: 50%;
    text-align: center;
}

.tooltip .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #d0d0d0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
}

.tooltip-inner {
    font-size: 14px;
    color: #494949;
    text-align: center;
    text-decoration: none;
    background-color: #d0d0d0;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: $orangeColor;
	background-image: none;		
	border-radius: 50%;
	border: none;
	width: 20px;
	height: 20px;
	top: -6px;
}

#slider {
	height: 8px;
}


div.all-container-wrapper {
	@include box-shadow(none !important);
}

.flexslider {
	-webkit-font-smoothing: antialiased;
}

.flex-control-nav {
	right: 20px !important;
	left: auto !important;
}

.flex-caption {
	right: auto !important;
	left: 0 !important;
}

.sf-sub-indicator {
	display: none;
}


.summary.stunning-text-wrapper {
	background: none;
	padding-top: 0;
	margin-top: -20px;
}

.logo-wrapper {
	
	padding: 0 !important;
	margin: 0 0 0 -20px !important;
	
	a {
		float: left;
		font-size: 0;
	}

	@media screen and (max-width: 959px) {
		margin: 0 0 0 -10px !important;
	}

	@media screen and (max-width: 767px) {
		margin: 0 0 0 -39px !important;
	}
}

div#custom-full-background {
    z-index: -1;
}

h1.stunning-text-title {
	font-family: "BebasRegular" !important;
	font-family: BebasNeueRegular !important;
	font-size: 26px;
	font-size: 36px;
	-webkit-font-smoothing: antialiased;
}

.sidebar-map {

	h3 {
		font-size: 14px;
		margin: 0;
	}

	p {
		margin: 0 0 10px 0;
	}

	#results,
	#map_search {
		//display: none;
	}
}

#results {
	height: 300px;
	overflow: scroll;
}



div.footer-widget-wrapper {
	-webkit-font-smoothing: antialiased;
	border-bottom: 1px solid #555;
	padding: 30px 0;
	margin: 0;
	
	input[type="text"],
	input[type="password"], 
	input[type="email"],
	textarea {
		background: #292929;
		border-radius: 0;
		border: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		color: #b1b1b1;
	}
	
	input[type="submit"],
	button {
		border: none;
		border-radius: 0;
		-webkit-appearance: none;
		@include box-shadow(none);
		text-transform: uppercase;
		background: #1e1e1e;
		color: #b1b1b1;
	}
	
	input[type="text"]:focus, 
	input[type="password"]:focus, 
	input[type="email"]:focus, 
	textarea:focus {
		color: #fff;
	}
	
	form {
		$height : 30px;
		
		input {
			padding: 0 5px;
			height: $height;
			line-height: $height;

			@include placeholder {
				color: #646464;
				font-style: italic;
				font-size: 12px;
			}

		}
		
		.email {
			margin: 0;
			width: 70%;
			float: left;
		}
		
		.submit {
			width: 30%;
		}
		
	}
	
	.custom-sidebar .rfb_posts {
		li {
			border: none !important;
			background: none;
			padding: 0 0 0 30px;
			position: relative;
		}
		
		.rfb_link {
			background: url(images/facebook-bullet.png) no-repeat;
			height: 24px;
			display: block;
			width: 24px;
			overflow: hidden;
			text-indent: 24px;
			position: absolute;
			top: 0;
			left: 0;
		}

		.rfb_image {
			display: none;
		}
	}


}

.footer-top {

	.widget-container {
		@include clearfix;
		border-bottom: 1px solid #555;
		padding-bottom: 40px;
	}

	ul {
		margin: 0;
		list-style-type: none;
	}

	.sponsor-logo {

		a {
			display: block;
		}
		
		img {
			display: block;
			margin: 0 auto;
			padding: 20px;
			background: #fff;

			@media screen and (max-width: 959px) {
				padding: 2px;
			}

			@media screen and (max-width: 767px) {
				padding: 0;
			}

		}

	}
	
	.flex-direction-nav li {

		a {
			@include hide-text;
			background: url(images/slider-arrows.png) no-repeat;
			width: 14px;
			height: 13px;
			margin: 0;
			top: 105%;
			display: block;
			position: absolute;
		}

		a.flex-prev {
			background-position: 0 0;
			left: auto;
			right: 24px;
		}

		a.flex-next {
			background-position: -14px 0;
			right: 6px;
		}
	}

}

.home {
	.stunning-text-content-wrapper {
		margin: 40px 40px 0 40px;
		width: 880px !important;

		@media only screen and (max-width: 959px) and (min-width: 767px) {
			width: 688px !important;
		}
		@media only screen and (max-width: 767px) and (min-width: 480px) {
			width: 400px !important;
		}
		@media only screen and (max-width: 479px) {
			width: 270px !important;
		}

	}

	.weather-stunning-text {
		display: none;
		@include clearfix;
	}

	.stunning-text-title {
		float: left;
		text-transform: uppercase;
		margin: 0 auto;
		font-weight: normal;
		word-spacing: 3px;
		
		strong {
			color: $orangeColor !important;
			font-weight: normal;
			display: block;
			padding: 5px 0 0 0;
		}

		@media screen and (max-width: 767px) {
			float: none;
			width: 100%;
			text-align: center;
			padding: 20px 0 0 0;
		}
		@media screen and (max-width: 479px) {
			font-size: 30px !important;
		}
	}
	
	.stunning-text-caption {
		float: left;
		clear: left;
	}
	
	.weather-container {
		width: 360px;
		float: right;
		margin: 0;

		font-size: 42px;
		line-height: 1em;


		@media only screen and (max-width: 767px) {
			float: none;
			margin: 0 auto;
			@include clearfix;
		}


		
		.column {
			margin: 0;
			padding: 0 20px 0 34px;
			background: transparent url(images/weather-divider.png) no-repeat left center;
			
			&:first-child {
				background: none;
				padding-left: 0;
			}
			
			&:last-child {
				padding-right: 0;
			}
		}
		
		.top {
			position: relative;
			display: inline-block;
		}
		
		.value {
			font-size: 32px;
			font-size: 1em;
			line-height: 1em;
			font-family: BebasRegular;
			font-family: BebasNeueRegular;
			-webkit-font-smoothing: antialiased;
		}
		
		.degrees {
			font-size: 0.9em;
			position: absolute;
			top: 0;
			left: 100%;
			line-height: 1.1em;
		}
		
		.feet {
			font-size: 0.5em;
			position: absolute;
			top: 0;
			left: 100%;
			text-transform: uppercase;
			font-family: BebasRegular;
			font-family: BebasNeueRegular;
			line-height: 1.55em;
		}
		
		.label {
			display: block;
			font-family: coustard;
			font-size: 0.33em;
			text-align: center;
			margin: 10px 0 0 0;
		}
		
		@media screen and (max-width: 479px) {
			width: auto;
			font-size: 26px;

			.column {
				padding: 0 16px 0 34px;
			}
		}

	}
}

.home {
	.tourism-feature-links {
		display: block;
		color: inherit;
		padding: 10px 10px 10px 0;
		margin: -10px -10px 0 0;
		@include transition(all 1s ease-in-out);
		
		&:hover {
			background-image: url(../modernize/images/icon/dark/left-cross-5px.png);
		}
	}

	.blog-thumbnail-info {
		display: none;
	}

	.blog-thumbnail-image {
		max-width: 240px;
		float: left;
		margin-right: 10px;

		a {
			display: block;
			position: relative;

			.grayscale {
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		@media screen and (max-width: 959px) {
			max-width: 180px;
		}

		@media screen and (max-width: 479px) {
			max-width: 100%;
		}
	}

	.bottom-right-module {
		font-size: 12px !important;
		font-weight: normal;
	}


	.blog-header-title {
		margin-top: 10px;
	}

	.community-events,
	.chamber-events {
		display: none;
	}

	.bottom-left,
	.bottom-right {
		width: 100% !important;

		h2.blog-thumbnail-title.post-widget-title-color.gdl-title {
			margin: 12px 0;
			font-size: 20px;
			line-height: 140%;

			a {
				color: #494949;
			}
			
		}

		.learn-more {
			display: block;
			font-family: coustard;
			font-size: 12px;
			margin: 12px 0;
		}
	}
}

.footer-container-wrapper  {
	-webkit-font-smoothing: antialiased;

	h3 {
		font-size: 16px;
		color: #ececec;
		font-weight: normal;
		font-family: coustard;
	}
}

.footer-bottom.container {
	padding: 0 0 30px 0;

	ul {
		list-style: none;
		margin: 0;
	}

	a {
		color: #999;
	}
}


.mn-widget-calendar {
	.mn-widget-calendar-weekdays {
		@include clearfix;
		text-transform: uppercase;
		font-size: 8px;
	}

	.mn-widget-calendar-weeks {
		@include clearfix;
		border: 1px solid #555;
		border-top: none;
		border-left: none;
	}

	.mn-widget-calendar-day,
	.mn-widget-calendar-weekday {
		display: block;
		width: percentage(1/7);
		float: left;
		text-align: center;
	}

	.mn-widget-calendar-day {
		@include box-sizing( border-box );
		border: 1px solid #555;
		border-bottom: none;
		border-right: none;
		
		font-size: 10px;
		height: 34px;
		line-height: 34px;

		a {
			background:  $orangeColor;
			display: block;
			color: inherit;
			height: 100%;
			width: 100%;

			&:hover {
				color: #fff;
				background: #555;
			}
		}
	}

	.mn-widget-calendar-week {
		clear: both;
	}

	.mn-widget-calendar-prev {
		float: left;
		width: 15%;
	}

	.mn-widget-calendar-next {
		float: right;
		width: 15%;
		text-align: right;
	}

	.mn-widget-calendar-date {
		display: inline-block;
		width: 70%;
		text-align: center;
		color: $orangeColor;
	}
}

.wib-menu {
	margin: -45px -21px 0px -20px;

	ul {
		margin: 0;
		list-style-type: none;
		width: 100%;
	}

	li {
		width: 25%;
		display: block;
		float: left;
		text-align: center;
		padding: 10px 0;
		background: #006596;


	}

	a {
		color: #ffecb5;
		display: block;
		font-size: 16px;
		height: 20px;
		line-height: 20px;
		border-right: 1px solid #ffecb5;
	}

	li:last-child a {
		border-right: none;
	}

	span {
	}

	@media screen and (max-width: 959px) {
		margin: -45px -10px 0px -10px;
	}

	@media screen and (max-width: 767px) {
		margin: -45px -21px 0px -20px;
	
		li {
			width: 50% !important;
			padding: 5px 0;
		}

		li:nth-child(2) a {
			border-right: 0;
		}

		li:nth-child(3),
		li:nth-child(4) {
			border-top: 1px solid #ffecb5;
		}

		a {
			font-size: 12px;
			height: 18px;
			line-height: 18px;
		}
	}

}

div.personnel-item {
	$backgroundColor : #313131;
	$borderColor : #e9e9e9;
	$textColor : #e4e4e4;

	cursor: pointer;
	position: inherit;

	@include transition(350ms);

	margin-bottom: 0 !important;

	&:nth-child(4n+5) {
		clear: left;
	}

	.arrow {
		@include triangle(30px, black, up);
		position: absolute;
		top: auto;
		opacity: 0;
		margin: -28px 0 0 10px;
		margin: 0 0 0 10px;
		@include transition(350ms);
	}

	.personnel-content {
		position: absolute;
		top: auto;
		margin: 0;
		padding: 0;
		height: 0;
		overflow: hidden;
		@include transition(350ms);
		left: -10px;
		right: -10px;
		
		@media screen and (max-width: 959px) {
			left: 0;
			right: 0;
		}

		@media screen and (max-width: 767px) {
			margin: 0 -20px 0 -21px;			
		}

		.inner {
			background: $backgroundColor;
			color: $textColor;
			padding: 20px;
			margin: 0;
			height: 100%;
			overflow-y: auto;
			@include box-shadow(0 0 10px 2px rgba(0, 0, 0, 1) inset);
			@include box-sizing(border-box);

			p {
				max-width: 500px;
			}

			.personnel-thumbnail {
				height: 100px;
				border: none;
				float: left;
				@include box-shadow(0 0 10px 2px rgba(0, 0, 0, 1));
				margin: 0 15px 0 0;

				img {
					height: 100%;
					width: auto;
				}
			}
			
			.content {
				float: left;
				margin: 0 15px 0 0 ;
				max-width: 160px;

				@media screen and (max-width: 767px) {
					float: none;
					max-width: none;
					margin: 0 0 0 115px;
				}
			}

			.bio {
				float: left;
				max-width: 330px;
			}

		}

		@media screen and (max-width: 767px) {
			position: relative;
		}
	}

	&.active {
		margin-bottom: 300px !important;

		@media screen and (max-width: 767px) {
			margin-bottom: 0 !important;
		}

		.personnel-content {
			height: 300px;
		}

		.arrow {
			opacity: 1;
			margin: -28px 0 0 10px;
		}
	}
}

.stunning-text-wrapper.join-today {
	
	.stunning-text-button-wrapper {
		

		a {

		}
	}
}

.patch-articles {
	margin: 0;
	padding: 0;
	list-style: none;
	
}

div.custom-sidebar ul.patch-articles li {
	position: relative;
	list-style: none;
	background: none;
	padding-left: 0;
}